*target*
*.jar
*.war
*.ear
*.class
*.json
*.properties
*.springBeans
*.p12
*.cer

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# IntelliJ
.idea
